.roboto-500 {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  text-transform: uppercase;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  height: 80px;
}
