body {
  margin: 0;

  --link-hover-colour: #007AFF;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFF;
  flex-wrap: nowrap;
}

.logo {
  margin-right: auto;
}

.img {
  padding: 10px;
}

.linkText {
  height: 60px;
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.linkText:hover {
  color: var(--link-hover-colour);
}

.linkText:nth-child(n+2):not(:last-child) {
  margin: 0 20px;
}

.is-active {
  color: var(--link-hover-colour);
  position: relative;
}

.is-active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--link-hover-colour);
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
}
